---
layout: layouts/base.njk
---
<div class="post-preview">
  <a href="some-url">
    <h2 class="post-title">
       Post title
    </h2>
    <h3 class="post-subtitle">
       Post description
    </h3>
  </a>
</div>
<hr>