<p><strong>About the Author</strong></p>
<p><em>{{ author }}</em></p>
<img src="https://res.cloudinary.com/tamas/image/upload/f_auto,q_auto,w_150,h_150,c_thumb,g_face,r_max,d_avatar.png/{{ author | sanitise }}.jpg">
<p>Developer Evangelist, experienced Technical Trainer and Google Developer Expert in Web Technologies. Active conference speaker, passionate about the latest & greatest advancements in web technologies.</p>